:root {
    --primary-color: rgb(0, 0, 125);
    --secondary-color: orange;
    --accent1-color: rgb(6, 6, 6);
    --accent2-color: #F4F6F9;
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header {
    display: grid;
    grid-template-columns: 40% 1fr;
    place-items: center;
}

nav a {
    text-decoration: none;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;

}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

section {
    margin: 16px auto;
}

.socialmedia a {
    text-decoration: none;
}

h2 {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    margin: 0 0;
    padding: 15px;
}

/* Style the Hero div */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    bottom: 5px;
    align-items: center;
    opacity: 0.9;
    background-color: var(--secondary-color);
    color: white;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article p {
    margin: 0 auto;
}

section p {
    color: var(--accent1-color);
}

footer p {
    margin-bottom: 0;
    padding-bottom: 0px;
    color: var(--accent1-color);
    grid-column: 2/3;
}

.socialmedia {
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: flex-end;

}

.socialmedia img {
    margin: 5px;
    padding: 0;
}

.socialmedia a {
    margin: 0;
    padding: 0;
}

.contenthistory {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

figure {
    border: thin silver solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: 5px auto;
}

figure img {
    width: 140px;
    height: 100px;
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: #222222;
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.adventures {
    display: flex;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}